@font-face {
  font-family: "extrabold";
  src: url("./font/TripSans-Medium.woff2");
}

@font-face {
  font-family: "bold";
  src: url(".//font/TripSans-VF.woff2");
  /*font-weight: 700;
    font-weight: 900;*/
}

body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}
.menu {
  padding-left: 24px;
  padding-top: 5px;
}
.headertitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertitle img {
  width: 132px;
  height: 60px;
}
.headerlinks {
  display: none;
}
.profile {
  padding-right: 24px;
  padding-top: 5px;
}
.sgn_in {
  display: none;
}
.where_to {
  display: none;
}
.scrolltxt {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 24px 0px 12px 16px;
}
.wrap {
  position: relative;
}
.wrap::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-image: linear-gradient(90deg, transparent, #ffffff);
}

.scrolltxt button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px 4px;
  font-family: "bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
  margin: 4px 8px 4px 8px;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.srchall button {
  color: rgb(0, 0, 0) !important;
  background: none;
  border: none;
}
.search_all {
  display: inline-flex;
  border-bottom: 2px solid;
  align-items: flex-end;
  padding-bottom: 8px;
}
.scrolltxt img {
  margin-right: 4px;
}
.inputbar {
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin: 0px 24px 0px 24px;
  padding: 16px 16px 24px;
 
}
.bartop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* padding: 2px 0px 2px 0px; */
  text-align: center;
}
.search_icon{
  display: flex;
  align-self: center;
  font-family: 'bold';
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  text-align: center;
  letter-spacing: normal;
  cursor: pointer;
}
.bartop_icon{
  display: flex;
  font-size: 20px;
  height: 36px;
}
.bartop input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: "bold";
  margin: 0px;
  text-overflow: ellipsis;
  padding: 0;
}
.division_line {
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search_bton {
  margin-top: 8px;
  padding: 12.5px 22.5px;
  background: #34e0a1;
  border: 1.5px solid #14855c;
  color: #000;
  border-radius: 24px;
  font-family: 'bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  cursor: pointer;
}
.banner{
  position: relative;
  color: white;

}
.yellow_owl{
  position: absolute;
  top: 22px;
  right: 24px;
}
.owlimg{
  position: absolute;
  top: 23px;
  right: 24.5px;
}
.owl_txt{
  position: absolute;
  top: 51.5px;
  right: 27px;
  font-family: 'bold';
  font-size: 12px;
  font-weight: 800;
  color: black;
}
.caption{
  object-fit: cover;
  object-position: center center;
  border-radius: 12px;
  margin-top: 40px;
  width: 320px;
  height: 430px;
}
.banner_text{
  padding: 96px 24px 32px;
  margin: 0;
  position: absolute;
  top: 42px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.42) 0, rgba(0, 0, 0, 0.42) 96px, rgba(0, 0, 0, 0.42) calc(100% - 96px), rgba(0, 0, 0, 0) 100%);
  border-radius: 12px;
}
.banner h1,p{
  margin: 0;
  padding: 0;
}
.banner_title{
  font-family: 'bold';
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.8px;
  line-height: 40px;
}
.banner_brief{
  font-family: 'bold';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 8px;
}
.banner_bton{
  color: black;
  background: white;
  border-radius: 24px;
  padding: 14px 24px;
  border: 1px solid white;
  font-family: 'bold';
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 375px){
  .caption{
    width: 375.2px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 8px;
  }
  .headertitle img {
    width: 188px;
    padding-right: 400px;
    margin-left: 19px;
  }
  .headerlinks {
    display: none;
  }
  .profile {
    display: none;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    padding-right: 24px;
  }
  .sgn_in .globe {
    display: none;
  }
  .sgn_in button {
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: "bold";
    text-align: center;
    cursor: pointer;
  }
  .where_to {
    display: block;
    padding: 0px 24px 0px 24px;
    margin-top: 48px;
    text-align: center;
  }
  .where_to p {
    margin: 0;
    padding: 0;
    font-family: "bold";
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 1.08px;
    line-height: 65px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    margin: 32px 0px 16px 16px;
  }
  .scrolltxt button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 4px 8px 0px 8px;
  }
  
  .inputbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    height: 56px;
    padding: 0px 0px 0px 16px;
    margin: 0 24px;
    gap: 6px;
  }
  .bartop {
    width: 100%;
    padding: 0;
  }
  .search_icon{
    display: flex;
    align-self: center;
  }
  .division_line {
    display: none;
  }
  .search_bton {
    position: relative;
    right: 6px;
    width: 15%;
    margin: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
  .header {
    gap: 24px;
  }
  .headertitle {
    margin-left: 5px;
  }
  .headertitle img {
    padding-right: 0px;
  }
  .profile {
    display: none;
  }
  .headerlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2px;
  }
  .links button {
    background: none;
    border: none;
    padding: 10px 16px;
    font-family: "bold";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .line {
    background: #e0e0e0;
    margin: 0px 8px;
    width: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 22px;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    white-space: nowrap;
  }
  .sgn_in button {
    height: 42px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .sgn_in .globe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-family: "extrabold";
  }
  .globe img {
    padding-top: 1px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    justify-content: center;
    margin: 32px 0px 16px 0px;
  }
  .inputbar {
    max-width: 800px !important;
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
  }
  .search_bton {
    width: 13%;
  }
}
@media screen and (min-width: 1440px) {
  body {
    margin-left: 128px;
    margin-right: 128px;
  }
}
