@font-face {
  font-family: "extrabold";
  src: url("./font/TripSans-Medium.woff2");
}

@font-face {
  font-family: "bold";
  src: url(".//font/TripSans-VF.woff2");
  /*font-weight: 700;
    font-weight: 900;*/
}

body {
  margin: 0;
  padding: 0;
}
.stick{
  
  position: sticky;
  width: 100%;
  z-index: 10104;
  background: white;
  top: 0;

}
 .header768{
  display: none;
 }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; 
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}
.logo_menu_bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu {
  padding-top: 5px;
}
.headertitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertitle img {
  width: 132px;
  height: 60px;
}
.app_dwld_bar{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;

}
.app_dwld{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8.5px 14.5px;
  background: white;
  border: 1.5px solid black;
  border-radius: 20px;
  font-family: 'bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  cursor: pointer;
}
.headerlinks {
  display: none;
}
.topsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 16px;
  
}
.topsearch_icon{
  width: 20px;
  height: 20px;
}
.sgn_in {
  display: none;
}
.where_to {
  display: none;
}
.top_line{
  background: grey;
  height: 1px;
  width: 100%;
}
.scrolltxt {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 16px 0px 12px 16px;
}
.wrap {
  position: relative;
}
.wrap::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-image: linear-gradient(90deg, transparent, #ffffff);
}

.scrolltxt button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px 4px;
  font-family: "bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
  margin: 4px 8px 4px 8px;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.srchall button {
  color: rgb(0, 0, 0) !important;
  background: none;
  border: none;
}
.search_all {
  display: inline-flex;
  border-bottom: 2px solid;
  align-items: flex-end;
  padding-bottom: 8px;
}
.scrolltxt img {
  margin-right: 4px;
}
.inputbar {
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin: 0px 24px 0px 24px;
  padding: 16px 16px 24px;
}
.bartop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.search_icon {
  display: flex;
  align-self: center;
  font-family: "bold";
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  text-align: center;
  letter-spacing: normal;
  cursor: pointer;
}
.bartop_icon {
  display: flex;
  font-size: 20px;
  height: 36px;
}
.bartop input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: "bold";
  margin: 0px;
  text-overflow: ellipsis;
  padding: 0;
}
.division_line {
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search_bton {
  margin-top: 8px;
  padding: 12.5px 22.5px;
  background: #34e0a1;
  border: 1.5px solid #14855c;
  color: #000;
  border-radius: 24px;
  font-family: "bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  cursor: pointer;
}
.banner {
  position: relative;
  color: black;
  display: grid;
  grid-gap: 16px;
  align-items: center;
  background: #34e0a1;
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px;
  grid-template-rows: 1fr 1fr;
}
.banner375{
}
.banner375 img{
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  min-height: 250.13px;
}
.banner_text {
  padding-top: 30px;

}
.banner h1,p {
  margin: 0;
  padding: 0;
}
.banner_title {
  display: block;
  font-family: "bold";
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.8px;
  line-height: 40px;
  margin-bottom: 8px !important;
}
.banner_brief {
  display: block;
  font-family: "bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}
.banner_bton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 24px;
  padding: 13.5px 24px 13.5px 24px;
  border: 0px solid white;
  margin-top: 16px;
  cursor: pointer;
  box-sizing: border-box;
}
.bton_txt{
  font-family: "bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: white;

}


/*scroll img 1 */

.content1{
  position: relative;
  padding: 0 20px 0 24px;
  margin-bottom: 64px;
}
.content1_txt{
  margin: 64px 16px 16px 0px;
}
.content1_title {
  font-family: 'bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0px 0px 8px;
}
.content1_para {
  color: rgb(51, 51, 51);
  font-family: 'bold';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.scroll_img_bar1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  column-gap: 8px;

}
.scroll_img_bar1 img{
  display: block;
  min-width: 215.46px;
  width: 100%; 
  min-height: 215.46px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}
.scroll_img_bar1 h2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'bold';
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.48px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  padding: 24px 8px 8px;
  margin: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.6) calc(100% - 24px), rgba(0,0,0,0) 100%);
  border-radius: 8px;
  cursor: pointer;
}
.scroll_img_first{
  position: relative;
}

.scroll_img_second{
  position: relative;
}

.scroll_img_third{
  position: relative;
}

.scroll_img_fourth{
  position: relative;
}

.scroll_img_fifth{
  position: relative;
}

.arrow_blck{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25%;
  right: 0;
  background: #fff;
  height: 40px;
  min-width: 40px;
  font-family: 'bold';
  font-size: 13.333px;
  font-weight: 400;
  border-radius: 100px;
  border: 1.5px solid #000;
  cursor: pointer;
}
/* .img_bar1 .section1_img1 img{
  max-width: 215.46px;
  width: 100%;
  max-height: 215.46px;
  height: 100%;
} */

/* @media screen and (min-width: 375px) {
  /* .caption {
    min-width: 375.2px;
    width: 100%;
    max-height: 500px;
    height: 100%;
  }
  .banner_text {
    top: 116px;
    margin-top: 17px;
  }
  .yellow_owl {
    top: -69px;
  }
  .owlimg {
    top: -68px;
  }
  .owl_txt {
    top: -39px;
  }
  .banner_bton {
    margin-top: 16.5px;
  }
  .scroll_img_bar1 img{
    min-width: 215.46px;
    /* width: 100%; 
    min-height: 215.46px;
  }
} */
 @media screen and (max-width:768px) {
  .container{
    height: 488.4px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
  }
  /* .grid{
    position: relative;
    visibility: hidden;
  } */
 }
@media screen and (min-width: 425px) {
 
  /* .caption {
    display: none;
  }
  .caption425 {
    display: block;
    min-width: 425.6px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border-radius: 12px;
    margin-top: 40px;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
  } */
  .banner_text {
    /* top: 178px; */
  }
  /* .yellow_owl {
    top: -131px;
  }
  .owlimg {
    top: -130px;
  }
  .owl_txt {
    top: -101px;
  } */
  .scroll_img_bar1 img{
    min-width: 249.06px;
  }
}
@media screen and (min-width: 768px) {
  .header768{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 16px;
    padding: 16px 0;
    gap: 8px;
  }
  .top_logo{
    display: flex;
    gap: 8px;
    width: 100%;
  }
  .top_owl{
    border-radius: 4px;
  }
  .top_txt{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .top_title{
    display: block;
    font-family: 'bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .top_para{
    display: block;
    font-family: 'bold';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(51,51,51);
    width: 100%;
  }
  .top_bton{
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .get_app{
    padding: 8.5px 14.5px;
    background: white;
    border: 1.5px solid #000;
    border-radius: 20px;
    font-family: 'bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
  }
  .header {
    margin-top: 8px;
    border-bottom: 0px;
  }
  .logo_menu_bar{
    gap: 24px;
  }
  .headertitle img {
    width: 188px;
  }
  .app_dwld_bar{
    display: none;
  }
  .topsearch{
    display: none;
  }
  .headerlinks {
    display: none;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    /* padding-right: 24px; */
    white-space: nowrap;
  }
  .sgn_in .globe {
    display: none;
  }
  .sgn_in button {
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: "bold";
    text-align: center;
    cursor: pointer;
  }
  .where_to {
    display: block;
    padding: 0px 24px 0px 24px;
    margin-top: 48px;
    text-align: center;
  }
  .where_to p {
    margin: 0;
    padding: 0;
    font-family: "bold";
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 1.08px;
    line-height: 65px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    margin: 32px 0px 16px 16px;
  }
  .scrolltxt button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 4px 8px 0px 8px;
  }

  .inputbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    height: 56px;
    padding: 0px 0px 0px 16px;
    margin: 0 24px;
    gap: 6px;
  }
  .bartop {
    width: 100%;
    padding: 0;
  }
  .search_icon {
    display: flex;
    align-self: center;
  }
  .division_line {
    display: none;
  }
  .search_bton {
    position: relative;
    right: 6px;
    width: 15%;
    margin: 0px;
  }
  /* .caption{
    margin-top: 24.8px;
  } */
  /* .caption,.caption425 {
    display: none;
  }
  .caption768 {
    display: block;
    min-width: 768px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    margin-top: 64.8px;
    overflow: hidden;
    white-space: nowrap;
  } */
  .banner_text {
    top: 261px;
    margin-top: 16.5px;
  }
  .yellow_owl {
    top: -189px;
  }
  .owlimg {
    top: -187px;
  }
  .owl_txt {
    top: -159px;
  }
  .banner_title {
    font-size: 40px;
  }
  .banner_brief {
    font-size: 20px;
    line-height: 24px;
  }
  .banner_bton {
    margin-top: 16px;
    padding: 16px 24px 16px 24px;
  }
  .scroll_img_bar1{
    min-width: 234.66px;
  }
}
@media screen and (min-width: 1024px) {
  .header768{
    display: none;
  }
  .header {
    gap: 24px;
  }
   .menu {
    display: none;
  }

  .headerlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2px;
  }
  .links button {
    background: none;
    border: none;
    padding: 10px 16px;
    font-family: "bold";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .line {
    background: #e0e0e0;
    margin: 0px 8px;
    width: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 22px;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    white-space: nowrap;
  }
  .sgn_in button {
    height: 42px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .sgn_in .globe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-family: "bold";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
  }
  .globe img {
    padding-top: 1px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    justify-content: center;
    margin: 32px 0px 16px 0px;
  }
  .inputbar {
    max-width: 800px !important;
    width: 100%;
    height: 59px;
    text-align: center;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
  }
  .search_bton {
    width: 13%;
  }
  /* .caption768 {
    min-width: 1024px;
    width: 100%;
    max-height: 500px;
    height: 100%;
  } */
  .yellow_owl {
    width: 63px;
    height: 84px;
  }
  .owlimg {
    width: 61px;
    height: 61px;
    top: -186.5px;
  }
  .owl_txt {
    top: -133px;
    font-size: 23px;
    right: 30.5px;
  }
  .scroll_img_bar1 img{
    min-width: 232px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin: 0px 128px;
  }
  /* .caption768 {
    display: none;
  }
  .caption1024 {
    display: block;
    min-width: 1136px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    margin-top: 64.8px;
    overflow: hidden;
    white-space: nowrap;
  } */
  .banner_title {
    line-height: 40px;
  }
  .scroll_img_bar1 img{
    min-width: 272px;
  }
}
@media screen and (min-width: 2560px) {
  body {
    margin: 0px 688px;
  }
  .scrolltxt button {
    align-items: center;
  }
  .search_all {
    align-items: center;
  }
}
