@font-face {
  font-family: "extrabold";
  src: url("./font/TripSans-Medium.woff2");
}

@font-face {
  font-family: "bold";
  src: url(".//font/TripSans-VF.woff2");
  /*font-weight: 700;
    font-weight: 900;*/
}

body {
  margin: 0;
  padding: 0;
}
.stick{
  
  position: sticky;
  width: 100%;
  z-index: 10104;
  background: white;
  top: 0;

}
 .header768{
  display: none;
 }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; 
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}
.logo_menu_bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu {
  padding-top: 5px;
}
.headertitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertitle img {
  width: 132px;
  height: 60px;
}
.app_dwld_bar{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;

}
.app_dwld{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8.5px 14.5px;
  background: white;
  border: 1.5px solid black;
  border-radius: 20px;
  font-family: 'bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  cursor: pointer;
}
.headerlinks {
  display: none;
}
.topsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 16px;
  
}
.topsearch_icon{
  width: 20px;
  height: 20px;
}
.sgn_in {
  display: none;
}
.where_to {
  display: none;
}
.top_line{
  background: grey;
  height: 1px;
  width: 100%;
}
.scrolltxt {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 16px 0px 12px 16px;
}
.wrap {
  position: relative;
}
.wrap::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-image: linear-gradient(90deg, transparent, #ffffff);
}

.scrolltxt button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px 4px;
  font-family: "bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
  margin: 4px 8px 4px 8px;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.srchall button {
  color: rgb(0, 0, 0) !important;
  background: none;
  border: none;
}
.search_all {
  display: inline-flex;
  border-bottom: 2px solid;
  align-items: flex-end;
  padding-bottom: 8px;
}
.scrolltxt img {
  margin-right: 4px;
}
.inputbar {
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin: 0px 24px 0px 24px;
  padding: 16px 16px 24px;
}
.bartop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.search_icon {
  display: flex;
  align-self: center;
  font-family: "bold";
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  text-align: center;
  letter-spacing: normal;
  cursor: pointer;
}
.bartop_icon {
  display: flex;
  font-size: 20px;
  height: 36px;
}
.bartop input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-family: "bold";
  margin: 0px;
  text-overflow: ellipsis;
  padding: 0;
}
.division_line {
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search_bton {
  margin-top: 8px;
  padding: 12.5px 22.5px;
  background: #34e0a1;
  border: 1.5px solid #14855c;
  color: #000;
  border-radius: 24px;
  font-family: "bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  cursor: pointer;
}
.banner {
  
  margin-top: 40px;
  /* padding: 24px;*/
}
.news{
  background: #34e0a1;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}
.news img{
  padding: 20px 0px 0px 0px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 250.13px;
}
.banner_text {
  padding-top: 30px;
  padding: 0px 24px 24px 24px;

}
.banner h1,p {
  margin: 0;
  padding: 0;
}
.banner_title {
  display: block;
  font-family: "bold";
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.8px;
  line-height: 41px;
  margin: 18.5px 0px 8px 0px !important;
}
.banner_brief {
  display: block;
  font-family: "bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 8px;
}
.banner_bton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 24px;
  padding: 13.5px 24px 13.5px 24px;
  border: 0px solid white;
  margin-top: 16px;
  cursor: pointer;
  box-sizing: border-box;
}
.bton_txt{
  font-family: "bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: white;
}



/*scroll img 1 */

.content1{
  position: relative;
  padding: 0 20px 0 24px;
  margin-bottom: 64px;
}
.content1_txt{
  margin: 40px 16px 16px 0px;
}
.content1_title {
  font-family: 'bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0px 0px 8px;
}
.content1_para {
  color: rgb(51, 51, 51);
  font-family: 'bold';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.scroll_img_bar1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  column-gap: 8px;

}
.scroll_img_bar1 img{
  display: block;
  min-width: 215.46px;
  width: 100%; 
  min-height: 215.46px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}
.scroll_img_bar1 h2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'bold';
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.48px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  padding: 24px 8px 8px;
  margin: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.6) calc(100% - 24px), rgba(0,0,0,0) 100%);
  border-radius: 5px;
  cursor: pointer;
}
.scroll_img_first{
  position: relative;
}
.scroll_img_second{
  position: relative;
}
.scroll_img_third{
  position: relative;
}
.scroll_img_fourth{
  position: relative;
}
.scroll_img_fifth{
  position: relative;
}
.arrow_blck{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 29%;
  right: 4px;
  background: #fff;
  height: 38.4px;
  min-width: 38.4px;
  border-radius: 20px;
  border: 1.5px solid #000;
  cursor: pointer;
}
.content2{
  position: relative;
  padding: 0 20px 0 24px;
  margin-bottom: 64px;
}
.content2_txt{
  display: grid;
  gap: 4px;
  margin: 40px 16px 16px 0px;
  padding: 0;

}
.content2_title {
  font-family: 'bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0px 0px 4px;
  padding: 0;
}
.content2_para {
  color: rgb(51, 51, 51);
  font-family: 'bold';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.scroll_img_bar2{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  overflow-x: scroll;
  column-gap: 8px;
}
.scroll_bar2_img{
  padding-bottom: 8px;
}
.scroll_img_bar2 .img{
  display: block;
  min-width: 215.46px;
  width: 100%; 
  min-height: 215.46px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 8px;
  cursor: pointer;
}
.scroll_bar2_txt{
  display: grid;
  gap: 4px;
  align-items: left;
  margin: 0;
  padding: 0;
}
.place{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c9f2e3;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  width: max-content;
  font-family: 'bold';
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
}
.scroll_img_bar2 h2{
  display: block;
  font-family: 'bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  padding: 0;
  cursor: pointer; 
}
.circle_bar{
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'bold';
  font-size: 14px;
  color: #333;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 19px;
  cursor: pointer;
}
.rupees{
  display: block;
  font-family: 'bold';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

}
.scroll_bar2_first{
  position: relative;
}
.scroll_bar2_second{
  position: relative;
}
.scroll_bar2_third{
  position: relative;
}
.scroll_bar2_fourth{
  position: relative;
}
.scroll_bar2_fifth{
  position: relative;
}
.scroll_bar2_sixth{
  position: relative;
}
.scroll_bar2_seventh{
  position: relative;
}
.heart{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 5px;
}
.yellow_owl{
  position: absolute;
  left: 8px;
  top: 163px;
}
.owl_img{
  position: absolute;
  top: 164px;
  left: 8.5px;
}
.owl_txt{
  position: absolute;
  top: 193px;
  left: 11px;
  font-family: "bold";
  font-size: 12px;
  font-weight: 800;
}
.arrow_blck2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 37.5%;
  right: 4px;
  background: #fff;
  height: 38.4px;
  min-width: 38.4px;
  border-radius: 20px;
  border: 1.5px solid #000;
  cursor: pointer;
}

 @media screen and (max-width:768px) {
  .container{
    height: 488.4px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
  }
  .banner1024{
    display: none;
  }
  .banner_title1024{
    display: none;
  }
  .banner_brief1024{
    display: none;
  }
  .banner_bton1024{
    display: none;
  }

 }
@media screen and (min-width: 425px) {
 
  .news img{
    min-height: 283.73px;
    height: 100%;
   }
  .scroll_img_bar1 img{
    min-width: 249.06px;
    min-height: 249.06px;
  }
  .arrow_blck{
    bottom: 41%;

  }
}
@media screen and (min-width: 768px) {

  .header768{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 16px;
    padding: 16px 0;
    gap: 8px;
  }
  .top_logo{
    display: flex;
    gap: 8px;
    width: 100%;
  }
  .top_owl{
    border-radius: 4px;
  }
  .top_txt{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .top_title{
    display: block;
    font-family: 'bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .top_para{
    display: block;
    font-family: 'bold';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(51,51,51);
    width: 100%;
  }
  .top_bton{
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .get_app{
    padding: 8.5px 14.5px;
    background: white;
    border: 1.5px solid #000;
    border-radius: 20px;
    font-family: 'bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
  }
  .header {
    margin-top: 8px;
    border-bottom: 0px;
  }
  .logo_menu_bar{
    gap: 24px;
  }
  .headertitle img {
    width: 188px;
  }
  .app_dwld_bar{
    display: none;
  }
  .topsearch{
    display: none;
  }
  .headerlinks {
    display: none;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .sgn_in .globe {
    display: none;
  }
  .sgn_in button {
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: "bold";
    text-align: center;
    cursor: pointer;
  }
  .where_to {
    display: block;
    padding: 0px 24px 0px 24px;
    margin-top: 48px;
    text-align: center;
  }
  .where_to p {
    margin: 0;
    padding: 0;
    font-family: "bold";
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 1.08px;
    line-height: 65px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    margin: 32px 0px 16px 16px;
  }
  .scrolltxt button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 4px 8px 0px 8px;
  }

  .inputbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    height: 56px;
    padding: 0px 0px 0px 16px;
    margin: 0 24px;
    gap: 6px;
  }
  .bartop {
    width: 100%;
    padding: 0;
  }
  .search_icon {
    display: flex;
    align-self: center;
  }
  .division_line {
    display: none;
  }
  .search_bton {
    position: relative;
    right: 6px;
    width: 15%;
    margin: 0px;
  }
 
   .news{
    margin: 65px 24px;
    flex-direction: row;
   }
   .news img{
    min-width: 410.67px;
    width: 100%;
    
   }
  .banner_text {
    top: 261px;
    margin-top: 16.5px;
  }
 
  .banner_brief {
    font-size: 20px;
    line-height: 24px;
  }
  .banner_bton {
    margin-top: 16px;
    padding: 16px 24px 16px 24px;
  }
  
  .content1_txt{
    margin: 64px 16px 16px 0px;
  }
    .scroll_img_bar1 img{
    min-width: 234.66px;
    min-height: 234.66px;
  }
}
@media screen and (min-width: 1024px) {
  .header768{
    display: none;
  }
  .header {
    gap: 24px;
  }
   .menu {
    display: none;
  }

  .headerlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2px;
  }
  .links button {
    background: none;
    border: none;
    padding: 10px 16px;
    font-family: "bold";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .line {
    background: #e0e0e0;
    margin: 0px 8px;
    width: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 22px;
  }
  .sgn_in {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    white-space: nowrap;
  }
  .sgn_in button {
    height: 42px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .sgn_in .globe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-family: "bold";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
  }
  .globe img {
    padding-top: 1px;
  }
  .wrap::after {
    display: none;
  }
  .scrolltxt {
    justify-content: center;
    margin: 32px 0px 16px 0px;
  }
  .inputbar {
    max-width: 800px !important;
    width: 100%;
    height: 59.2px;
    text-align: center;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
  }
  .search_bton {
    width: 13%;
  }
  .banner{
    display: flex;
    background: #ff5d5d;
    border-radius: 8px;
    margin: 64px 24px;
    padding: 24px;
    /* min-width: 976px;
    width: 100%;
    min-height: 458px; */

  }
  .news{
    display: none;
  }
  .newbanner{
    object-fit: cover;
    border-radius: 12px;
    min-width: 479.45px;
    width: 100%;
    min-height: 410px;
  }
  .banner_line{
    background-color: black;
    width: 4px;
    font-family: 'bold';
    font-size: 16px;
    margin: 0px 24px;
  }
  .banner1024_txt{
    display: flex;
    align-items: left;
    justify-self: center;
    flex-direction: column;
    min-width: 399.54px;
    min-height: 312px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .banner_text{
    display: none;
  }
  .banner_title{
    display: none;
    
  }
  .banner_title1024{
    display: block;
    font-family: "bold";
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -1.88px;
    line-height: 56px;
    margin: 50px 0px 0px 0px !important;
  }
  .banner_brief{
    display: none;
    
  }
  .banner_brief1024{
    display: block;
    font-family: "bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 32px 0px 24px 0px;
    
    
  }
  .banner_bton{
    display: none;
  }
  .banner_bton1024{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    cursor: pointer;
    min-width: 151.71px;
    width: fit-content;
    max-height: 40px;
  }

   .content1{
    padding: 0 24px;
   }
   .scroll_img_bar1{
    column-gap: 16px;
   }
  .scroll_img_bar1 img{
    min-width: 232px;
    min-height: 232px;
  }
  .arrow_blck{
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin: 0px 128px;
  }
  .newbanner{
    min-width: 566.73px;
  }
  .banner_title1024{
    font-size: 90px;
    line-height: 72px;

  }
  .scroll_img_bar1 img{
    min-width: 272px;
    min-height: 272px;
  }
}
@media screen and (min-width: 2560px) {
  body {
    margin: 0px 688px;
  }
  .scrolltxt button {
    align-items: center;
  }
  .search_all {
    align-items: center;
  }
}
