@font-face {
    font-family: "extrabold";
    src: url("./font/TripSans-Medium.woff2");
}

@font-face {
    font-family: "bold";
    src: url(".//font/TripSans-VF.woff2");
    /*font-weight: 700;
    font-weight: 900;*/
}

body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
}
.menu{
    padding-left: 24px;
    padding-top: 5px;
}
.headertitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headertitle img{
    width: 132px;
    height: 60px;
}
.headerlinks{
    display: none;
}
.profile{
    padding-right: 24px;
    padding-top: 5px;
}
.sgn_in{
    display: none;
}
.where_to{
    display: none;
}
.scrolltxt{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 24px 16px;
}
.wrap{
    position: relative;
}
.wrap::after {
     content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-image: linear-gradient(90deg, transparent, #ffffff);
}

.scrolltxt button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 4px 4px;
    font-family: 'bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
    margin: 4px 8px 4px 8px;
    white-space: nowrap;
    color: rgb(51,51,51);
    cursor: pointer;
}
.scrolltxt .srchall button {
    position: relative;
    color: rgb(0, 0, 0) !important;
    background: none;
    border: none;
}
.scrolltxt .srchall button::after{
    content: "";
    position: absolute;
    left: 4px;
    bottom: 0px;
    height: 3px;
    top: 34px;
    background-color: black;
    width: 93%;
    /* border-bottom: 2px solid black; */
    /* padding-top: 8px; */
    display: block;
}
.scrolltxt img{
    margin-right: 4px;
}
.inputbar{
    background: #fff;
    border: 2px solid #e0e0e0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 15);
    border-radius: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.bartop{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.bartop input{
    width: 100%;
    border: none;
    outline: none;
}
.division_line{
    background: #e0e0e0;
    height: 2px;
    width: 100%;
}
.srch_bton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34e0a1;
    border-bottom: rgb(20, 133, 92);
    padding: 12.5px 22.5px;
    color: #000;
    border-radius: 24px;
    width: 100%;
}
@media screen and (min-width:768px) {
    .header{
        margin-top: 8px;
    }
    .headertitle img{
        width: 188px;
        padding-right: 400px;
        margin-left: 19px;
    }
    .headerlinks{
        display: none;
    }
    .profile{
        display: none;
    }
    .sgn_in{
        display: flex;
        align-items: center;
      
        padding-right: 24px;
    }
    .sgn_in .globe{
        display: none;
    }
    .sgn_in button{
        background: black;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        font-family: 'bold';
        cursor: pointer;
    }
    .where_to{
        display: block;
        padding: 0px 24px 0px 24px;
        margin-top: 48px;
        text-align: center;
    }
    .where_to p{
        margin: 0;
        padding: 0;
        font-family: 'bold';
        font-size: 54px;
        font-weight: 900;
        letter-spacing: 1.08px;
        line-height: 65px;
    }
    .scrolltxt{
        
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .scrolltxt button{
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;

    }
}
@media screen and (min-width: 1024px) {
    .menu{
        display: none;
    }
    .header{
        gap: 24px;
    }
    .headertitle{
        margin-left: 5px;
    }
    .headertitle img{
        padding-right: 0px;
    }
    .profile{
        display: none;
    }
    .headerlinks{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 2px;
    }
    .links button{
        background: none;
        border: none;
        padding: 10px 16px;
        font-family: 'bold';
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
    .line{
        background: #e0e0e0;
        margin: 0px 8px;
        width: 1px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        height: 22px;
    }
   .sgn_in{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        white-space: nowrap;
    }
    .sgn_in button{
        height: 42px;

    }
    .sgn_in .globe{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 16px;
        font-family: 'extrabold';
    }
    .globe img{
        padding-top: 1px;
    }
    .scrolltxt{
        justify-content: center;
    }
}
@media screen and (min-width:1440px) {
    body{
        margin-left: 128px;
        margin-right: 128px;
    }
}